{% extends "core/base.html" %}

<div class="row">
    {% block sidebarLeft %}
        {% if department_list %}
            {%for dept in department_list %}
                <ol class="list-unstyled">
                    <div class="col-sm-12 col-md-3">
                        <li><a href="{% url 'detail' dept.name %}">{{dept.name}}</a></li>
                    </div>
                </ol>
            {% endfor %}
        {% endif %}
    {% endblock sidebarLeft %}


    {% block content %}
        {# {%for post in posts%}
        <div class="row">
            <h1>{{ post.title }}</h1><br />
            <p>{{ post.content }}</p>
        </div>
        {% endfor %}#}
    {% endblock content %}
</div>
