{% extends "core/base.html" %}

{% block sidebarLeft %}
    {% if department_list %}
    <div class="col-md-2 sidebar">
        <ul class="nav nav-tabs nav-stacked">
            {%for dept in department_list %}
                <li><a href="{% url 'detail' dept.name %}">{{dept.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock sidebarLeft %}


{% block content %}
    {%for post in posts%}
    <div class="row col-md-8">
        <h1>{{ post.title }}</h1><br />
        <p>{{ post.content }}</p>
    </div>
    {% endfor %}
{% endblock content %}
